

<h3>{{employee.id}}</h3>
<p>{{employee.Employee_id}}</p><hr>
<h3>First Name</h3>
<p>{{employee.First_name}}</p><hr>
<h3>Last Name</h3>
<p>{{employee.Last_name}}</p><hr>
<h3>Screen Name</h3>
<p>{{employee.Screen_name}}</p><hr>
<h3>Date of birth</h3>
<p>{{employee.Date_of_birth}}</p><hr>
<h3>Gender</h3>
<p>{{employee.Gender}}</p><hr>
<h3>Country</h3>
<p>{{employee.Country}}</p><hr>
<h3>Email</h3>
<p>{{employee.Email}}</p><hr>
<h3>Phone</h3>
<p>{{employee.Phone}}</p><hr>
<h3>Password</h3>
<p>{{employee.Password}}</p><hr>


<a href="http://localhost:5000/data">Back</a>